build
apps/template_android_google/AGK2Template/src/main/libs/
apps/template_android_google/AGK2Template/src/main/obj/
apps/template_android_google/AGK2Template/src/main/jniLibs/
obj/
apps/template_android_google/.gradle/
apps/template_android_google/.idea/
*.lock
*.bin
*.iml
makefile
