<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Models" icon-off="ion-ios-keypad" icon-on="ion-ios-keypad" href="#/tab/models">
    <ion-nav-view name="tab-models"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Pilot" icon-off="ion-person" icon-on="ion-person" href="#/tab/pilot">
    <ion-nav-view name="tab-pilot"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Monitor" icon-off="ion-monitor" icon-on="ion-monitor" href="#/tab/monitor">
    <ion-nav-view name="tab-monitor"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Power" icon-off="ion-battery-full" icon-on="ion-battery-full" href="#/tab/power">
    <ion-nav-view name="tab-power"></ion-nav-view>
  </ion-tab>

</ion-tabs>
